<html>
<head>
    {#<script src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>#}
    <script src="{{ app.base_path }}/js/jquery-1.11.0.min.js"></script>
</head>
<body>

<p>Hello, {{ name|default('Silex') }}!</p>
<a href="{{ path('admin_index') }}">管理员页面</a>
{{ render(url('footer')) }}
</body>
</html>