<html>
<head>
    {#<script src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>#}
    <script src="{{ app.base_path }}/js/jquery-1.11.0.min.js"></script>
</head>
<body>
{% block main %}
{% endblock %}
<ul>
    <li><a href="{{ path('home') }}">首页</a></li>
    <li><a href="{{ path('admin_index') }}">管理员页面演示</a></li>
    <li><a href="{{ path('form') }}">表单演示</a></li>
</ul>
{{ render(url('footer')) }}
</body>
</html>